/** CSS SITA **/

.message_panel 
{
    color: rgb(255, 126, 1) !important;
}

div.title_bg
{
    background-color: #337ab7 !important;
}
div.footer_bg 
{
    background-color: #337ab7 !important;
}

.color_title_text
{
	color: white !important;
}
.copyright
{
	color: white !important;
}

.continue_button
{
    background-color: #f7b41e !important;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f7b41e),color-stop(100%,#f09013));
    background: -webkit-linear-gradient(top,#f7b41e 0%,#f09013 100%);
    background: -o-linear-gradient(top,#f7b41e 0%,#f09013 100%);
    background: -ms-linear-gradient(top,#f7b41e 0%,#f09013 100%);
    background: linear-gradient(to bottom,#f7b41e 0%,#f09013 100%);
    padding: 20px  !important;
    cursor: pointer  ;
    font-size: 25px  !important;
    border: 2px solid rgba(255,125,0,1) ;
    border-radius: 15px  !important;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center !important;
}

.buttons{
    box-sizing: border-box;
    padding: 20px  !important;
}

.buttons a{
    font-size: 18px;
    color: #46463c;
    text-transform: uppercase;
    font-family: 'Titillium Web',sans-serif;
}
 
html{
    background-position-x: 50% !important;
    background-position-y: 50% !important;
    background-size: cover !important;
    background-repeat-x: no-repeat !important;
    background-repeat-y: no-repeat !important;
    background-attachment: fixed !important;
    background-origin: initial !important;
    background-clip: initial !important;
    background-color: initial !important;
}

div.login-content-container, div.success-content-container
{
	opacity: 1 !important;
}
div.common_inner 
{
	background-color: white !important;
}